.comparison-table {
  width: 100%;
  border-collapse: collapse;
}

.comparison-table td, .comparison-table th {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.header td {
  color: #ffffff; /* White text for headers */
  text-align: center;
}

.header td:first-child {
  background-color: #7D7C7C; /* '현행' */
}

.header td:last-child {
  background-color: #05BFDB; /* '개정안' */
}
